.modal {
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  display: flex;
  position: fixed;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  margin: auto;
  box-sizing: border-box;
  width: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
  padding: 36px;
  position: relative;
}





.modal__text {
  margin: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  width: 291px;
  height: 12px;
}

.modal__heading {
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 25px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-bottom: 13px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 16.94px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.modal__close:hover {
  transition: 0.1s;
  opacity: 0.6;
}


.modal__save {
  margin-top: 47px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  border: 0;
  cursor: pointer;
}
.modal__save:hover {
  transition: 0.1s;
  opacity: 0.8;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

@media screen and (max-width: 581px) {
  .modal__close {
    top: -39px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }
  .modal__heading {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__form-input {
    padding-bottom: 9px;
  }

  .modal__save {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
