.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: none;
}
.modal__opened {
    display: flex;
  }
  

.modal__container {
  margin: 0 auto;
  width: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
  margin: auto;
  padding: 36px;
  position: relative;
}

.modal__heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 25px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.input {
  opacity: 0.2;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-bottom: 13px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
}

.modal__close:hover {
  transition: 0.1s;
  opacity: 60%;
}

.modal__button:hover {
  transition: 0.1s;
  opacity: 80%;
}

.modal__button {
  margin-top: 47px;
  cursor: pointer;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  color: #fff;
}

@media screen and (max-width: 581px) {
  .modal__close {
    position: absolute;
    top: -53px;
    right: 0;
    width: 26px;
    height: 26px;
  }
  .modal__container {
    width: 282px;
  }
  .modal__heading {
    margin-bottom: 45px;
  }
}
