.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 36.25px;
  margin: 0 auto;
  max-width: 880px;
}

/*Dear reviewer, the links that you are sending me such as this one: https://skr.sh/sJSTiCckJN3?a are not loading the page. As such I do not know what you are referring to. 

I have made an educated guess and I have come up with the below styles, however my image is now squashed and I have so far been unable to resolve. It has been 12 hours since I posted in the discord for help with this issue and I have not found the answer by searching the web either.

I notice that the image appears this way until the small resolution where it displays as I have styled it. I have inspected using devtools and I can see that the browser is overriding my specified styles. I have tried increasing specificity (I first simply added both classes to the image before creating a div container around it) but that applied a different calculation by the browser making the image much too large. I have as yet been unable to correct this. Please send help. */

.profile__image-container {
  width: 120px;
  height: 120px;
  border-radius: 9999px;
  overflow: hidden;
}

.profile__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile__info {
  margin-left: 19px;
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 391px) auto;
  flex-wrap: wrap;
  width: 100%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding-right: 18px;
}

.profile__edit-button {
  background: transparent url(../images/edit-b.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  align-self: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 50%;
  transition: 0.1s;
}

.profile__edit-button:active {
  transform: scale(0.9);
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background: transparent url(../images/add-b.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 50%;
  transition: 0.1s;
}

.profile__add-button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 880px) {
  .profile__image {
    margin-left: 19px;
  }
  .profile__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .profile__add-button {
    margin-right: 19px;
  }
  .profile__edit-button {
    margin-right: 19px;
  }
  .profile__info {
    margin-left: 19px;
  }
}

@media screen and (max-width: 669px) {
  .profile {
    max-width: 564px;
    grid-template-columns: minmax(auto, 413px) auto;
  }
  .profile__info {
    padding-left: 0;
    margin-left: 19px;
  }
  .profile__title {
    font-size: 22px;
  }
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    padding: 0;
  }
}

@media screen and (max-width: 581px) {
  .profile {
    max-width: 282px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile__add-button {
    width: 282px;
    margin: 0 auto;
  }

  .profile__info {
    margin-top: 26.25px;
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__image {
    margin: auto;
  }
  .profile__title {
    font-size: 22px;
    padding-right: 10px;
  }
}
